<% content_for :title do %>
  <span style="font-weight:200"><%= @trace.http_method %></span> <%= @trace.name.classify %>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="18">
    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
  </svg>
  <span class="status-<%= 'success' if @trace.status.to_s.start_with?('2') %>"><%= @trace.status %> <%= Rack::Utils::HTTP_STATUS_CODES[@trace.status] %></span> <span style="font-size: 0.75em;"><%= @trace.format %></span>
  <br>
  <span style="font-size: 1rem; font-weight: 200;"><%= time_ago_in_words(Time.at(@trace.time)) %> ago
    | <%= @trace.duration.round(2) %>ms
    | <%= @trace.path %></span>
<% end %>
<% content_for :page_tabs do %>
  <nav class="tabs --page-tabs">
    <%= link_to 'Overview', filter_params.merge({ tab: 'overview' }), class: ['tabs-button', { active: current_tab == 'overview' }] %>
    <%= link_to 'Events', filter_params.merge({ tab: 'events' }), class: ['tabs-button', { active: current_tab == 'events' }] %>
    <%= link_to 'Logs', filter_params.merge({ tab: 'logs' }), class: ['tabs-button', { active: current_tab == 'logs' }] %>
    <%= link_to 'Mail', filter_params.merge({ tab: 'mail' }), class: ['tabs-button', { active: current_tab == 'mail' }] %>
    <%= link_to 'Jobs', filter_params.merge({ tab: 'jobs' }), class: ['tabs-button', { active: current_tab == 'jobs' }] %>
    <%= link_to 'Errors', filter_params.merge({ tab: 'errors' }), class: ['tabs-button', { active: current_tab == 'errors' }] %>
  </nav>
<% end %>
<%= render template: 'layouts/rails_observatory/application' %>