<!DOCTYPE html>
<html lang="en">
<head>
  <title>Observatory</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%#= stylesheet_link_tag "rails_observatory/builds/tailwind", media: "all" %>

  <script type="module">
    import Apexcharts from "https://jspm.dev/apexcharts"
    import * as Stimulus from "https://cdn.skypack.dev/stimulus"


    const application = Stimulus.Application.start();

    class ChartController extends Stimulus.Controller {
      static targets = ["chart", "data"]

      static values = {
        type: String,
        palette: String,
      }

      connect() {
        const series = this.dataTargets.map((target) => ({
          name: target.dataset.seriesName,
          data: JSON.parse(target.innerHTML)
        }));

        this.chart = new Apexcharts(this.chartTarget, {
          chart: {
            type: this.typeValue,
            height: 250,
            animations: {
              enabled: false
            },
            toolbar: {
              show: false
            }
          },
          series,
          xaxis: {
            type: 'datetime',
            min: <%= @time_range.begin.to_i * 1000 %>,
            max: <%= (@time_range.end.nil? ? Time.now.to_i : @time_range.end.to_i) * 1000 %>,
          },
          dataLabels: {
            enabled: false
          },
          theme: {
            palette: this.paletteValue
          },
          yaxis: {decimalsInFloat: 0},
          stroke: {
            width: 2,
            curve: 'straight'
          },
          tooltip: {
            x: {
              format: 'dd MMM yyyy HH:mm'
            }
          }
        })

        this.chart.render();
      }
    }

    application.register("chart", ChartController);

    window.Stimulus = Stimulus
    window.Apex = Apexcharts
  </script>
  <style>

    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400&display=swap');

    :root {
      --red: #ba181b;
      --black: #161a1d;
      --gray: #b1a7a6;
      --white: #eee;
      --divider: color-mix(in oklab, var(--black) 88%, white);
      --divider-active: color-mix(in oklab, var(--black) 75%, white);
      --surface-active: color-mix(in oklab, var(--black) 92%, white);
      --surface-hover: color-mix(in oklab, var(--black) 96%, white);
      --surface-dropdown: color-mix(in oklab, var(--black) 88%, white);
      --surface-card: color-mix(in oklab, var(--black) 96%, white);
    }

    html, body {
      font-family: 'Fira Sans', sans-serif;
      font-weight: 200;
      color: var(--white);
      height: 100%;
      background-color: var(--black);
    }

    body {
      display: grid;
      grid-template-areas: 'side-nav top-nav'
                            'side-nav main';
      grid-template-columns: 16rem 1fr;
      grid-template-rows: auto 1fr;
      margin: 0;
    }

    button {
      font-family: inherit;
      display: flex;
      font-size: 1rem;
      align-items: center;
      padding: .5rem .75rem;
      border-radius: .5rem;
      gap: .5rem;
      font-weight: 400;

      &.secondary {
        background-color: transparent;
        border: 1px solid var(--divider);
        color: var(--white);

        &:hover, &:focus-within {
          border: 1px solid var(--divider-active);
          background-color: var(--surface-hover);
        }
      }
    }

    main {
      grid-area: main;
      padding: 1rem;
    }

    .side-nav {
      grid-area: side-nav;
      grid-row: 1 / -1;
      border-right: 1px solid var(--divider);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: stretch;

      & > img {
        align-self: start;
      }


      & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: .25rem;

        & a {
          display: block;
          padding: .5rem .75rem;
          color: var(--white);
          background-color: var(--surface-active);
          border-radius: .5rem;
          text-decoration: none;
          font-weight: 400;

          &:hover {
            background-color: var(--surface-hover);
          }
        }
      }
    }

    .top-nav {
      grid-area: top-nav;
      border-bottom: 1px solid var(--divider);
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h1 {
        margin: 0;
      }
    }

    .dropdown {
      position: relative;

      & > ul {
        background-color: var(--surface-dropdown);
        opacity: 0;
        visibility: hidden;
        transform: translate(0, -1rem);
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;

        & > li {
          padding: .5rem .75rem;
          border-bottom: 1px solid var(--divider);
          text-align: left;

          &:last-child {
            border-bottom: none;
          }

          & > a {
            display: block;
            color: var(--white);
            text-decoration: none;
            font-weight: 400;

            &:hover {
              background-color: var(--surface-hover);
            }
          }
        }
      }

      &:focus-within {
        & > ul {
          opacity: 100;
          visibility: visible;
          transform: translate(0, 0);
        }
      }
    }
  </style>
</head>
<body>
<nav class="side-nav">
  <img height="40" src="<%= image_path "rails_observatory/logo_with_text.svg" %>" alt="RailsObservatory">
  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/mailers">Mailers</a></li>
    <li><a href="/jobs">Jobs</a></li>

  </ul>

</nav>
<nav class="top-nav">
  <h1><%= yield :title %></h1>
  <div class="dropdown">
    <button class="secondary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Past <%= duration.inspect %></span>
      <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" height="20">
        <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
      </svg>
    </button>

    <ul>
      <% [5.minutes, 10.minutes, 15.minutes, 30.minutes, 1.hour, 4.hours, 1.day, 2.days, 7.days, 1.month].each do |time_frame| %>
        <li>
          <a href="?duration=<%= time_frame %>" class="py-2 pl-11 pr-4 block">
            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
            <span class="font-normal block truncate <%= 'font-semibold' if time_frame == duration %>">Past <%= time_frame.inspect %></span>
            <span class="<%= 'hidden' if time_frame != duration %> absolute inset-y-0 left-0 flex items-center pl-4">
              <svg height="14" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
            </span>
          </a>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
<main>
  <%= yield %>
</main>
</body>
</html>
