<% content_for :top_nav do %>
  <div class="dropdown" data-controller="dropdown">
    <button class="secondary"
            data-dropdown-target="button"
            data-action="click->dropdown#toggle keydown->dropdown#onButtonKeydown"
            aria-haspopup="true"
            aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" height="20">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <% if relative_time_slice? %>
        <span>Past <%= duration.inspect %></span>
      <% else %>
        <span><%= duration_label(duration) %> <%= time_start.strftime("%b %-d, %Y %H:%M") %>
          - <%= time_end.strftime("%b %-d, %Y %H:%M") %></span>
      <% end %>
      <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" height="20">
        <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
      </svg>
    </button>

    <ul role="menu" data-dropdown-target="menu">
      <% [5.minutes, 10.minutes, 15.minutes, 30.minutes, 1.hour, 4.hours, 1.day, 2.days, 7.days, 1.month].each do |time_frame| %>
        <li role="none">
          <a href="?duration=<%= time_frame %>"
             class="<%= 'active' if time_frame == duration %>"
             role="menuitem"
             tabindex="-1"
             data-dropdown-target="option"
             data-action="keydown->dropdown#onOptionKeydown">
            <span>Past <%= time_frame.inspect %></span>
            <svg height="18" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
          </a>
        </li>
      <% end %>
      <li role="none"><a role="menuitem" tabindex="-1">Custom Time Range</a></li>
    </ul>
  </div>
<% end %>
<%= render template: 'layouts/rails_observatory/application' %>