<% content_for(:title, params[:controller_action].presence || 'Requests') %>
<% content_for(:subtitle, 'Requests') if params[:controller_action] %>
<% content_for(:main_css_class, 'layout/requests-index') %>
<%= render 'chart', name: 'Latency', series: @latency_series, type: 'area' %>
<%= render 'chart', name: 'Requests', series: @count_series, type: 'bar' %>
<%#= render 'chart', name: "Latency Breakdown", series: @latency_composition, type: 'area' %>
<%#= render 'chart', name: 'Errors', series: @errors, type: 'bar', palette: 'palette7' %>

<% if params[:controller_action].blank? %>
  <div class="card table">
    <h2>By Controller Action</h2>
    <table>
      <thead>
      <tr>
        <th>Controller Action</th>
        <th>Requests</th>
        <th>Avg Latency</th>
      </tr>
      </thead>
      <tbody>
      <% @count_by_controller.each do |series| %>
        <tr>
          <td><%= link_to series.labels[:action].classify, requests_path(controller_action: series.labels[:action].to_param) %></td>
          <td><%= series.data.dig(0, 1) %></td>
          <td><%= @latency_by_controller[series.labels[:action]].data.dig(0, 1).to_f.round(2) %> ms</td>
        </tr>
      <% end %>

      <!-- More people... -->
      </tbody>
    </table>
  </div>
<% end %>

<div class="card table">
  <h2>Recent Requests</h2>
  <%= render 'events_table', events: @events, fields: [
    :timestamp, :request_id, :controller_action, :duration, :status, :request_method, :view_runtime, :db_runtime
  ], formatters: {
    request_id: ->(request_id) { link_to request_id, request_path(request_id) },
    controller_action: ->(ca) { ca.classify }
  } %>
</div>