<% content_for :title, "Request Details" %>
<%# content_for :title, params[:id] %>
<style>
  @scope {
    :scope {
      padding: 0;
    }
  }
</style>
<style>

  header {
    border-bottom: 1px solid var(--divider);
    padding: 1rem 2rem;
    /*font-family: var(--font-mono);*/
    background-color: var(--surface-hover);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h2 {
      margin: 0;
      display: flex;
      align-items: center;
      gap: .5rem;
      font-size: 1.25rem;

      ._format {
        color: var(--black-secondary);
      }

      ._status-indicator {
        display: inline-block;
        width: .75rem;
        height: .75rem;
        border-radius: 50%;
        background-color: color-mix(in oklab, #066839 80%, white);
        border:4px solid color-mix(in oklab, #066839 30%, var(--surface-hover));
        margin-right: .5rem;
      }
    }

    ._controller {
      color: var(--black-secondary);
    }
  }

  .headers, .params {
    ._arrow-right {
      transform: rotate(0deg);
      transition: transform 100ms linear;
    }


    & + & {
      border-top: 1px solid var(--divider);
    }

    &[open] {
      ._arrow-right {
        transform: rotate(90deg);
      }
    }

    & summary {
      list-style: none;
      display: flex;
      gap: .5rem;
      padding: 1rem 2rem;
      background-color: var(--surface-hover);
      font-weight: 400;
      position: sticky;
      top: 0;
    }

    & dl {
      margin: 0;
      padding: 1rem 2rem;
      display: grid;
      grid-template-columns: auto minmax(0, 1fr);
      white-space: break-spaces;
      grid-row-gap: .3rem;
      overflow: auto;

      & dt {
        font-weight: 400;
      }
    }
  }

  .request-stats {
    display: flex;
    border-bottom: 1px solid var(--divider);
    margin: 0;

    ._unit {
      font-size: 1.3rem;
      font-weight: 400;
      margin-left:.25rem;
      color: var(--black-secondary);
    }

    & > * {
      padding: 2rem 2rem;
      flex-grow: 1;

      & + & {
        border-left: 1px solid var(--divider);
      }

      & > dt {
        font-weight: 400;
        color: var(--black-secondary);
        margin-bottom: .75rem;
      }

      & > dd {
        font-size: 2.5rem;
        font-weight: 400;
        margin: 0;
        display: flex;
        align-items: baseline;
      }
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    /*margin: 0;*/
    padding: 1rem 2rem;
  }

  .event {
    display: flex;
    border: 1px solid var(--divider);
    border-radius: .5rem;
    margin:1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    gap: 1rem;

    & > ._name {
      flex-grow: 1;
    }

    & > ._duration {
      font-weight: 400;
    }
  }
</style>
<header>
  <h2>
    <div class="_status-indicator"></div>
    <%= @req.request_method %>
    <%= @req.payload[:path] %>
    <span class="_format"><%= @req.payload[:format] %></span>
  </h2>
  <span class="_controller">
  <%= @req.controller_action %>
  </span>
</header>
<dl class="request-stats">
  <div>
    <dt>Status</dt>
    <dd><%= @req.payload[:status] %></dd>
  </div>
  <div>
    <dt>Duration</dt>
    <dd><%= @req.duration.to_f.round(2) %><span class="_unit">ms</span></dd>
  </div>
  <div>
    <dt>View Runtime</dt>
    <dd><%= @req.payload[:view_runtime].to_f.round(2) %><span class="_unit">ms</span></dd>
  </div>
  <div>
    <dt>DB Runtime</dt>
    <dd><%= @req.payload[:db_runtime].to_f.round(2) %><span class="_unit">ms</span></dd>
  </div>
</dl>
<details class="headers">
  <summary>
    <svg class="_arrow-right" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>
    Headers
  </summary>
  <dl>
    <% @req.payload[:headers].sort.each do |k, v| %>
      <dt><%= k %></dt>
      <dd><%= v %></dd>
    <% end %>
  </dl>
</details>
<details class="params">
  <summary>
    <svg class="_arrow-right" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>

    Params
  </summary>
  <dl>
    <% @req.payload[:params].sort.each do |k, v| %>
      <dt><%= k %></dt>
      <dd><%= v %></dd>
    <% end %>
  </dl>
</details>

<h3>Events</h3>
<% @events.each do |event| %>
  <div class="event">
    <div class="_name"><%= event.type %></div>
    <div class="_duration"><%= event.duration.to_f.round(2) %></div>
    <div class="_time"><%= event.timestamp %></div>
  </div>
<% end %>

