<main class="layout-trace" data-controller="resizable-grid">
  <div class="layout-area_chart">
    <div class="chart"
         data-controller="icicle-chart"
         data-icicle-chart-initial-data-value="<%= @events.to_series.to_json %>"
         data-icicle-chart-selection-frame-id-value="trace-tabs"></div>
  </div>
  <div class="layout-area_resize">
    <div class="resize-handle" data-action="mousedown->resizable-grid#startResizeY"></div>
  </div>
  <turbo-frame id="trace-tabs" data-turbo-action="advance" class="layout-area_trace-details">
    <nav class="tabs --sticky">
      <a href="?tab=details" class="tabs-button <%= "active" if params[:tab] == "details" || params[:tab].blank? %>">
        Event Details
      </a>
      <a href="?tab=logs" class="tabs-button <%= "active" if params[:tab] == "logs" %>">
        Logs
      </a>
      <a href="?tab=mail" class="tabs-button <%= "active" if params[:tab] == "mail" %>">
        Mail
        <% if @trace.mail_events.size > 0 %>
          <span style="color: var(--black-secondary)"><%= @trace.mail_events.size %></span>
        <% end %>
      </a>
      <label class="tabs-button">
        Jobs
      </label>
      <label class="tabs-button">
        Errors
      </label>
    </nav>
    <%= render 'event_details' if params[:tab] == 'details' || params[:tab].blank? %>
    <%= render 'logs' if params[:tab] == 'logs' %>
    <%= render 'mail' if params[:tab] == 'mail' %>
    <%= render 'jobs' if params[:tab] == 'jobs' %>
    <%= render 'errors' if params[:tab] == 'errors' %>
  </turbo-frame>
</main>
