<% content_for(:title, 'Errors') %>
<% content_for(:hide_duration, 'true') %>


<style>
  @scope {
    :scope {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      padding: 0;
    }
  }

  .error {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--divider);
    display: grid;
    grid-template-areas:
      'name-and-location graph count'
      'message graph count'
      'time graph count';
    grid-template-columns: minmax(14rem, 1fr) 200px minmax(min-content, 4rem);
    column-gap: 1rem;
    row-gap: .3rem;

    ._name-and-location {
      display: flex;
      gap: 1rem;
      align-items: baseline;
      overflow: hidden;


      & > :first-child {
        font-size: 1.25rem;
        font-weight: 400;
      }

      & > :last-child {
        color: var(--black-secondary);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    ._message {
      grid-area: message;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    ._count {
      grid-area: count;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      align-self: center;
    }

    ._graph {
      grid-area: graph;
      text-align: right;
      align-items: center;
    }

  }
</style>

<% @errors.each do |e| %>
  <div class="error">
    <div class="_name-and-location">
      <a href="<%= error_path(e.fingerprint) %>"><%= e.class_name %></a>
      <span><%= e.location.classify %></span>
    </div>
    <div class="_message"><%= e.message %></div>
    <div class="_time"><%= time_ago_in_words(Time.at(e.latest_ts / 1000)) %> ago</div>

    <div class="_graph">
      <% if @series_by_fingerprint[e.fingerprint] %>
        <%= render "sparkline", type: "bar", series: @series_by_fingerprint[e.fingerprint] %>
      <% end %>
    </div>
    <div class="_count"><%= e.count %></div>
  </div>
<% end %>