<% hashes = metrics.map { |name, agg| RailsObservatory::RedisTimeSeries.where(name:).group(group_by).send(agg) } %>

<section>
  <h2><%= name %></h2>

  <div class="table-chart">
    <table>
      <thead>
      <tr>
        <th><%= group_by %></th>
        <% metrics.keys.each do |k| %>
          <th><%= k %></th>
          <% end %>
      </tr>
      </thead>
      <tbody>
      <% hashes.first.each do |label, val| %>
        <tr>
          <td><%= label %></td>
          <td><%= val %></td>
          <% hashes.slice(1..).each do |h| %>
            <td><%= h[label] %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>