<div class="query-table --scrollable" style="--column-count: <%= fields.size %>">
  <header>
    <% fields.each do |f| %>
      <div class="query-table-column"><%= f.to_s.humanize(capitalize: true, keep_id_suffix: true) %></div>
    <% end %>
  </header>
  <div class="query-table-body --scrollable">
    <% events.each do |e| %>
      <div class="query-table-row">
        <% fields.each do |f| %>
          <% if (formatter = local_assigns[:formatters]&.fetch(f, nil)) %>
            <% if formatter.arity == 2 %>
              <div class="query-table-column"><%= formatter.call(e.respond_to?(f) ? e.send(f) : 'unknownattribute', e) %></div>
            <% else %>
              <div class="query-table-column"><%= formatter.call(e.respond_to?(f) ? e.send(f) : 'unknownattribute') %></div>
            <% end %>
          <% else %>
            <div class="query-table-column"><%= format_event_value(e.respond_to?(f) ? e.send(f) : 'unknownattribute') %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>