<div class="query-table"
     data-controller="query-table"
     style="--column-count: <%= fields.size %>"
     <%= tag.attributes(local_assigns[:attributes]) if local_assigns[:attributes] %>>
  <% fields.each.with_index(1) do |f, i| %>
    <div class="_resize-handle"
         draggable="false"
         data-query-table-target="resizeHandle"
         data-action="dblclick->query-table#resizeMin mousedown->query-table#startResize" style="grid-column: <%= i %>"></div>
  <% end %>
  <div class="_header">
    <% fields.each do |f| %>
      <div class="_column" data-query-table-target="column"><%= f.to_s.humanize(capitalize: true, keep_id_suffix: true) %></div>
    <% end %>
  </div>
  <div class="_body --scrollable">
    <% events.each do |e| %>
      <div class="_row">
        <% fields.each do |f| %>
          <% if (formatter = local_assigns[:formatters]&.fetch(f, nil)) %>
            <% if formatter.arity == 2 %>
              <div class="_column"><%= formatter.call(e.respond_to?(f) ? e.send(f) : 'unknownattribute', e) %></div>
            <% else %>
              <div class="_column"><%= formatter.call(e.respond_to?(f) ? e.send(f) : 'unknownattribute') %></div>
            <% end %>
          <% else %>
            <div class="_column"><%= format_event_value(e.respond_to?(f) ? e.send(f) : 'unknownattribute') %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="pagination">
    <button class="secondary" data-href="?page=1">1</button>
    <button class="secondary" data-href="?page=2">2</button>
    <button class="secondary" data-href="">3</button>
    <button class="secondary" data-href="">4</button>
  </div>
</div>

