<div class="query-table"
     data-controller="query-table"
     style="--column-count: <%= fields.size %>"
     <%= tag.attributes(local_assigns[:attributes]) if local_assigns[:attributes] %>>
  <% fields.each.with_index(1) do |f, i| %>
    <div class="_resize-handle"
         draggable="false"
         data-query-table-target="resizeHandle"
         data-action="dblclick->query-table#resizeMin mousedown->query-table#startResize" style="grid-column: <%= i %>"></div>
  <% end %>
  <div class="_header">
    <% fields.each do |f| %>
      <div class="_column" data-query-table-target="column"><%= f.to_s.humanize(capitalize: true, keep_id_suffix: true) %></div>
    <% end %>
  </div>
  <div class="_body --scrollable">
    <% events.each do |e| %>
      <div class="_row">
        <% fields.each do |f| %>
          <% if (formatter = local_assigns[:formatters]&.fetch(f, nil)) %>
            <% if formatter.arity == 2 %>
              <div class="_column"><%= formatter.call(e.respond_to?(f) ? e.send(f) : 'unknownattribute', e) %></div>
            <% else %>
              <div class="_column"><%= formatter.call(e.respond_to?(f) ? e.send(f) : 'unknownattribute') %></div>
            <% end %>
          <% else %>
            <div class="_column"><%= format_event_value(e.respond_to?(f) ? e.send(f) : 'unknownattribute') %></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if local_assigns[:pagination] %>
    <% page = pagination[:page] %>
    <% total_pages = pagination[:total_pages] %>
    <div class="pagination" data-query-table-target="pagination">
      <button class="secondary" data-action="query-table#goToPage" data-page="1" <%= 'disabled' if page == 1 %>>
        &laquo;
      </button>
      <button class="secondary" data-action="query-table#goToPage" data-page="<%= page - 1 %>" <%= 'disabled' if page == 1 %>>
        &lsaquo;
      </button>
      <span class="pagination-info">Page <%= page %> of <%= total_pages %></span>
      <button class="secondary" data-action="query-table#goToPage" data-page="<%= page + 1 %>" <%= 'disabled' if page >= total_pages %>>
        &rsaquo;
      </button>
      <button class="secondary" data-action="query-table#goToPage" data-page="<%= total_pages %>" <%= 'disabled' if page >= total_pages %>>
        &raquo;
      </button>
    </div>
  <% else %>
    <div class="pagination">
      <button class="secondary" disabled>1</button>
    </div>
  <% end %>
</div>

